* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 238, 238);
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

.App {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
  column-gap: 30px;
}

.agent-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-size: cover;
  width: 250px;
  height: 366px;
  position: relative;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.agent-card:hover{
  transform: scale(1.05);
}

.agent-name-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  background-size: cover;
}

.agent-image {
  width: 100%;
}

.agent-role-container {
  color: white;
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.agent-role-image {
  width: 25px;
  margin-left: 10px;
}